suckless/dwm/config.h
suckless/dwm/tags
suckless/dwm/dwm
suckless/dwm/*.o
suckless/dmenu/*.o
suckless/dmenu/dmenu
suckless/dmenu/config.h
suckless/st/config.h
suckless/st/*.o
suckless/st/st
suckless/alpha/alpha
suckless/alpha/*.o
suckless/alpha/config.h
