suckless/dwm/dwm.o
suckless/dwm/config.h
suckless/dwm/dwm
suckless/dmenu/dmenu.o
suckless/dmenu/dmenu
suckless/dmenu/config.h
suckless/st/config.h
suckless/st/st.o
suckless/st/st
suckless/st/x.o
suckless/alpha/alpha
suckless/alpha/alpha.o
suckless/alpha/config.h
