URxvt*scrollBar: false
URxvt*forground: #fbf1c7
URxvt.internalborder: 2
URxvt.font: xft:terminus:style=Bold:size=18
URxvt.background: [70]#000000
urxvt*depth: 32


Xft*dpi: 	96
Xft*antialias:  true


*.cursorColor: #e6e6e6

urxvt.iso14755: false
urxvt.keysym.Shitt-Control-V: eval:past_clipboard
urxvt.keysym.Shitt-Control-C: eval:selection_to_clipboard
