[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sh/Desktop/dwm]
row=3
col=1

[/home/sh/Desktop/dwl]
row=5
col=1

[/home/sh/Desktop/music2.sh]
row=1
col=0

[/home/sh/Desktop/st]
row=4
col=1

[/home/sh/Desktop/music.sh]
row=0
col=0

[/home/sh/Desktop/dwmblocks]
row=2
col=0

[/home/sh/Desktop/surf]
row=4
col=0

[/home/sh/Desktop/py]
row=5
col=0

[6ec28819-8b59-4a99-a64a-81908028760c]
row=2
col=1

[Wastebasket]
row=1
col=1

[/]
row=0
col=1

[/home/sh]
row=3
col=0

